<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @developer.developer_code %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @developer.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">DeveloperCode</div>
            <div class="itemValue"><%= @developer.developer_code %></div>
          </li>
      
          <li>
            <div class="itemLabel">DeveloperName</div>
            <div class="itemValue"><%= @developer.developer_name %></div>
          </li>
      
          <li>
            <div class="itemLabel">DeveloperStatus</div>
            <div class="itemValue"><%= @developer.developer_status %></div>
          </li>
      
          <li>
            <div class="itemLabel">DeveloperDob</div>
            <div class="itemValue"><%= @developer.developer_dob %></div>
          </li>
      
    </ul>
  </div>

</div>
